.element {
  color: var(--clr-text);
  background: var(--clr-bg);

  width: 100px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--clr-text);
  position: relative;
  font-weight: 700;
  text-align: center;

  transform: scale(0.8);

  cursor: pointer;
}

.element-number {
  position: absolute;
  font-size: 1rem;
  top: 4px;
  left: 6px;
} 
.element-symbol {
  font-size: 2rem; 
  margin: 6px 8px 0px 6px;
}
.element-weight {
  font-size: 0.75rem;
}
.element-name {
  font-size: 0.75rem;
  margin-bottom: 4px;
}
