.periodic-table {
  margin: 0rem auto;
  text-align: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(11, 1fr);
  /* gap: 2px; */
  column-gap: 1px;
  grid-template-areas:
    "H . . . . . . . . . . . . . . . . . He"
    "Li Be . . . . . . . . . . . B C N O F Ne"
    "Na Mg . . . . . . . . . . . Al Si P S Cl Ar"
    "K Ca Sc . Ti V Cr Mn Fe Co Ni Cu Zn Ga Ge As Se Br Kr"
    "Rb Sr Y . Zr Nb Mo Tc Ru Rh Pd Ag Cd In Sn Sb Te I Xe"
    "Cs Ba La . Hf Ta W Re Os Ir Pt Au Hg Tl Pb Bi Po At Rn"
    "Fr Ra Ac . Rf Db Sg Bh Hs Mt Ds Rg Cn Nh Fl Mc Lv Ts Og"
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . Ce Pr Nd Pm Sm Eu Gd Tb Dy Ho Er Tm Yb Lu ."
    ". . . . Th Pa U Np Pu Am Cm Bk Cf Es Fm Md No Lr .";
    scale: 0.8;
}
@media (min-width: 768px) {
  .periodic-table {
    scale: 0.6; 
  }
}

@media (min-width: 1080px) {
  .periodic-table {
    scale: 0.8; 
  }
}

@media (min-width: 1280px) {
  .periodic-table {
   scale: 0.9; 
  }
}

.H { 
  grid-area: H;
  border: 2px solid var(--green);
  color: var(--green);
}
.He { 
  grid-area: He;
  border: 2px solid var(--mauve);
  color: var(--mauve);

}
.Li { 
  grid-area: Li;
  border: 2px solid var(--peach);
  color: var(--peach);

}
.Be { 
  grid-area: Be;
  border: 2px solid var(--yellow);
  color: var(--yellow);

}
.B { 
  grid-area: B;
  border: 2px solid var(--teal);
  color: var(--teal);

}
.C { 
  grid-area: C;
  border: 2px solid var(--green);
  color: var(--green);

}
.N { 
  grid-area: N;
  border: 2px solid var(--green);
  color: var(--green);

}
.O { 
  grid-area: O;
  border: 2px solid var(--green);
  color: var(--green);

}
.F { 
  grid-area: F;
  border: 2px solid var(--green);
  color: var(--green);

}
.Ne { 
  grid-area: Ne;
  border: 2px solid var(--mauve);
  color: var(--mauve);

}

.Na { 
  grid-area: Na;
  border: 2px solid var(--peach);
  color: var(--peach);

}
.Mg { 
  grid-area: Mg;
  border: 2px solid var(--yellow);
  color: var(--yellow);

}
.Al { 
  grid-area: Al;
  border: 2px solid var(--blue);
  color: var(--blue);

}
.Si { 
  grid-area: Si;
  border: 2px solid var(--teal);
  color: var(--teal);

}
.P { 
  grid-area: P;
  border: 2px solid var(--green);
  color: var(--green);

}
.S { 
  grid-area: S;
  border: 2px solid var(--green);
  color: var(--green);

}
.Cl { 
  grid-area: Cl;
  border: 2px solid var(--green);
  color: var(--green);

}
.Ar { 
  grid-area: Ar;
  border: 2px solid var(--mauve);
  color: var(--mauve);

}
.K { 
  grid-area: K;
  border: 2px solid var(--peach);
  color: var(--peach);

}
.Ca { 
  grid-area: Ca;
  border: 2px solid var(--yellow);
  color: var(--yellow);

}

.Sc { 
  grid-area: Sc;
  border: 2px solid var(--red);
  color: var(--red);

}
.Ti { 
  grid-area: Ti;
  border: 2px solid var(--red);
  color: var(--red);

}
.V { 
  grid-area: V;
  border: 2px solid var(--red);
  color: var(--red);

}
.Cr { 
  grid-area: Cr;
  border: 2px solid var(--red);
  color: var(--red);

}
.Mn { 
  grid-area: Mn;
  border: 2px solid var(--red);
  color: var(--red);

}
.Fe { 
  grid-area: Fe;
  border: 2px solid var(--red);
  color: var(--red);

}
.Co { 
  grid-area: Co;

  border: 2px solid var(--red);
  color: var(--red);
}
.Ni { 
  grid-area: Ni;
  border: 2px solid var(--red);
  color: var(--red);

}
.Cu { 
  grid-area: Cu;
  border: 2px solid var(--red);
  color: var(--red);

}
.Zn { 
  grid-area: Zn;
  border: 2px solid var(--red);
  color: var(--red);

}

.Ga { 
  grid-area: Ga;
  border: 2px solid var(--blue);
  color: var(--blue);

}
.Ge { 
  grid-area: Ge;
  border: 2px solid var(--teal);
  color: var(--teal);

}
.As { 
  grid-area: As;
  border: 2px solid var(--teal);
  color: var(--teal);

}
.Se { 
  grid-area: Se;
  border: 2px solid var(--green);
  color: var(--green);

}
.Br { 
  grid-area: Br;
  border: 2px solid var(--green);
  color: var(--green);

}
.Kr { 
  grid-area: Kr;
  border: 2px solid var(--mauve);
  color: var(--mauve);

}
.Rb { 
  grid-area: Rb;
  border: 2px solid var(--peach);
  color: var(--peach);

}
.Sr { 
  grid-area: Sr;
  border: 2px solid var(--yellow);
  color: var(--yellow);

}
.Y { 
  grid-area: Y;
  border: 2px solid var(--red);
  color: var(--red);

}
.Zr { 
  grid-area: Zr;
  border: 2px solid var(--red);
  color: var(--red);

}

.Nb { 
  grid-area: Nb;
  border: 2px solid var(--red);
  color: var(--red);

}
.Mo { 
  grid-area: Mo;
  border: 2px solid var(--red);
  color: var(--red);

}
.Tc { 
  grid-area: Tc;
  border: 2px solid var(--red);
  color: var(--red);

}
.Ru { 
  grid-area: Ru;
  border: 2px solid var(--red);
  color: var(--red);

}
.Rh { 
  grid-area: Rh;
  border: 2px solid var(--red);
  color: var(--red);

}
.Pd { 
  grid-area: Pd;
  border: 2px solid var(--red);
  color: var(--red);

}
.Ag { 
  grid-area: Ag;
  border: 2px solid var(--red);
  color: var(--red);

}
.Cd { 
  grid-area: Cd;
  border: 2px solid var(--red);
  color: var(--red);

}
.In { 
  grid-area: In;
  border: 2px solid var(--blue);
  color: var(--blue);

}
.Sn { 
  grid-area: Sn;
  border: 2px solid var(--blue);
  color: var(--blue);

}

.Sb { 
  grid-area: Sb;
  border: 2px solid var(--teal);
  color: var(--teal);

}
.Te { 
  grid-area: Te;
  border: 2px solid var(--teal);
  color: var(--teal);

}
.I { 
  grid-area: I;
  border: 2px solid var(--green);
  color: var(--green);

}
.Xe { 
  grid-area: Xe;
  border: 2px solid var(--mauve);
  color: var(--mauve);

}
.Cs { 
  grid-area: Cs;
  border: 2px solid var(--peach);
  color: var(--peach);

}
.Ba { 
  grid-area: Ba;
  border: 2px solid var(--yellow);
  color: var(--yellow);

}
.La { 
  grid-area: La;
  border: 2px solid var(--rosewater);
  color: var(--rosewater);

}
.Ce { 
  grid-area: Ce;
  border: 2px solid var(--rosewater);
  color: var(--rosewater);

}
.Pr { 
  grid-area: Pr;
  border: 2px solid var(--rosewater);
  color: var(--rosewater);

}
.Nd { 
  grid-area: Nd;
  border: 2px solid var(--rosewater);
  color: var(--rosewater);

}

.Pm { 
  grid-area: Pm;
  border: 2px solid var(--rosewater);
  color: var(--rosewater);

}
.Sm { 
  grid-area: Sm;
  border: 2px solid var(--rosewater);
  color: var(--rosewater);

}
.Eu { 
  grid-area: Eu;
  border: 2px solid var(--rosewater);
  color: var(--rosewater);

}
.Gd { 
  grid-area: Gd;
  border: 2px solid var(--rosewater);
  color: var(--rosewater);

}
.Tb { 
  grid-area: Tb;
  border: 2px solid var(--rosewater);
  color: var(--rosewater);

}
.Dy { 
  grid-area: Dy;
  border: 2px solid var(--rosewater);
  color: var(--rosewater);

}
.Ho { 
  grid-area: Ho;
  border: 2px solid var(--rosewater);
  color: var(--rosewater);

}
.Er { 
  grid-area: Er;
  border: 2px solid var(--rosewater);
  color: var(--rosewater);

}
.Tm { 
  grid-area: Tm;
  border: 2px solid var(--rosewater);
  color: var(--rosewater);

}
.Yb { 
  grid-area: Yb;
  border: 2px solid var(--rosewater);
  color: var(--rosewater);

}

.Lu { 
  grid-area: Lu;
  border: 2px solid var(--rosewater);
  color: var(--rosewater);

}
.Hf { 
  grid-area: Hf;
  border: 2px solid var(--red);
  color: var(--red);

}
.Ta { 
  grid-area: Ta;
  border: 2px solid var(--red);
  color: var(--red);

}
.W { 
  grid-area: W;
  border: 2px solid var(--red);
  color: var(--red);

}
.Re { 
  grid-area: Re;
  border: 2px solid var(--red);
  color: var(--red);

}
.Os { 
  grid-area: Os;

  border: 2px solid var(--red);
  color: var(--red);
}
.Ir { 
  grid-area: Ir;

  border: 2px solid var(--red);
  color: var(--red);
}
.Pt { 
  grid-area: Pt;

  border: 2px solid var(--red);
  color: var(--red);
}
.Au { 
  grid-area: Au;

  border: 2px solid var(--red);
  color: var(--red);
}
.Hg { 
  grid-area: Hg;

  border: 2px solid var(--red);
  color: var(--red);
}

.Tl { 
  grid-area: Tl;
  border: 2px solid var(--blue);
  color: var(--blue);

}
.Pb { 
  grid-area: Pb;
  border: 2px solid var(--blue);
  color: var(--blue);

}
.Bi { 
  grid-area: Bi;
  border: 2px solid var(--blue);
  color: var(--blue);

}
.Po { 
  grid-area: Po;
  border: 2px solid var(--blue);
  color: var(--blue);

}
.At { 
  grid-area: At;
  border: 2px solid var(--teal);
  color: var(--teal);

}
.Rn { 
  grid-area: Rn;
  border: 2px solid var(--mauve);
  color: var(--mauve);

}
.Fr { 
  grid-area: Fr;
  border: 2px solid var(--peach);
  color: var(--peach);

}
.Ra { 
  grid-area: Ra;
  border: 2px solid var(--yellow);
  color: var(--yellow);

}
.Ac { 
  grid-area: Ac;
  border: 2px solid var(--pink);
  color: var(--pink);

}
.Th { 
  grid-area: Th;
  border: 2px solid var(--pink);
  color: var(--pink);

}

.Pa { 
  grid-area: Pa;
  border: 2px solid var(--pink);
  color: var(--pink);

}
.U { 
  grid-area: U;
  border: 2px solid var(--pink);
  color: var(--pink);

}
.Np { 
  grid-area: Np;
  border: 2px solid var(--pink);
  color: var(--pink);

}
.Pu { 
  grid-area: Pu;
  border: 2px solid var(--pink);
  color: var(--pink);

}
.Am { 
  grid-area: Am;
  border: 2px solid var(--pink);
  color: var(--pink);

}
.Cm { 
  grid-area: Cm;
  border: 2px solid var(--pink);
  color: var(--pink);

}
.Bk { 
  grid-area: Bk;
  border: 2px solid var(--pink);
  color: var(--pink);

}
.Cf { 
  grid-area: Cf;
  border: 2px solid var(--pink);
  color: var(--pink);

}
.Es { 
  grid-area: Es;
  border: 2px solid var(--pink);
  color: var(--pink);

}
.Fm { 
  grid-area: Fm;
  border: 2px solid var(--pink);
  color: var(--pink);

}

.Md { 
  grid-area: Md;
  border: 2px solid var(--pink);
  color: var(--pink);

}
.No { 
  grid-area: No;
  border: 2px solid var(--pink);
  color: var(--pink);

}
.Lr { 
  grid-area: Lr;
  border: 2px solid var(--pink);
  color: var(--pink);

}
.Rf { 
  grid-area: Rf;
  border: 2px solid var(--red);
  color: var(--red);

}
.Db { 
  grid-area: Db;
  border: 2px solid var(--red);
  color: var(--red);

}
.Sg { 
  grid-area: Sg;
  border: 2px solid var(--red);
  color: var(--red);

}
.Bh { 
  grid-area: Bh;
  border: 2px solid var(--red);
  color: var(--red);

}
.Hs { 
  grid-area: Hs;
  border: 2px solid var(--red);
  color: var(--red);

}
.Mt { 
  grid-area: Mt;
  border: 2px solid var(--text);
  color: var(--text);
}
.Ds { 
  grid-area: Ds;
  border: 2px solid var(--text);
  color: var(--text);

}

.Rg { 
  grid-area: Rg;
  border: 2px solid var(--text);
  color: var(--text);

}
.Cn { 
  grid-area: Cn;
  border: 2px solid var(--text);
  color: var(--text);

}
.Nh { 
  grid-area: Nh;

  border: 2px solid var(--text);
  color: var(--text);
}
.Fl { 
  grid-area: Fl;

  border: 2px solid var(--text);
  color: var(--text);
}
.Mc { 
  grid-area: Mc;

  border: 2px solid var(--text);
  color: var(--text);
}
.Lv { 
  grid-area: Lv;

  border: 2px solid var(--text);
  color: var(--text);
}
.Ts { 
  grid-area: Ts;

  border: 2px solid var(--text);
  color: var(--text);
}
.Og { 
  grid-area: Og;

  border: 2px solid var(--text);
  color: var(--text);
}

