.modal-name {
  font-size: 5rem;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 2rem;
  border: none;
}

.modal-basic-data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 2rem;
  column-gap: 2rem;
  width: 100%;
}
div p {
  font-weight: 400;
}

p span {
  border: none !important;
  font-weight: 700;
}

video {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 2rem;
  display: inline-block;
  max-width: 500px !important;
}

.model-extra {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.model-extra div p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.modal-list h3 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.75rem;
}

.modal-list h3 i {
  font-size: 1.5rem;
  font-style: normal;
}

.modal-list ol {
  list-style: upper-roman;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.modal-list li {
  border: none;
}
.modal-list ul {
  list-style: circle;
  font-size: 1.125rem;   
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 2rem;
}

span {
  border: none !important;
  font-weight: 700;
}
